.full-width-table {
  width: 100%;
  height: 60%;
  margin: 0 auto;
}
.mat-elevation-z8 {
  width: 80%;
  margin: 0 auto;
  transform: translateY(20%);
}

 .greenState{
  color: #4ADEBB;

 }

 .redState{
  color: #F0CE76;

 }
 .rating-tag{
  color: white;
  text-align: center;
  height: 2rem;
  width: 1rem;
  border-radius: 20px;

  &--strongGreenRating{
    background: #D66464;
   }

   &--mediumGreenRating{
    background: #B1F0A1;

   
  }

  &--yellowRating{
   background: #F0CE76;
 
 
  }

  &--brownRating{
   background: #DEA876;
  
 }

 &--redRating{
  background: #D66464;

 }

 }


mat-form-field {

  position: relative;
  top: 1.2rem;
}

option {
  background-color: rgba(0, 0, 0, 0.04);
  width: 10rem;
}

.form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.5px solid gray;
  background-color: rgba(0, 0, 0, 0.04);
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  text-align: center;
  padding: 1rem;
  height: 3.2rem;
  position: relative;
  top: 1.2rem;
}
.filters-block {
  display: flex;
  width: 94%;
  margin-inline-start: 1rem;
  justify-content: space-between;
}

.mat-form-field-wrapper {
  position: relative;
  height: 2.5rem;
}


img.refresh-svg {
  width: 1rem;
  margin-right: 0.2rem;
}
button.refresh-btn {
  border: none;
  font-weight: 600;
}

.refresh-container{
  position: relative;
  top: 0.5rem;
  left: 1.5rem;
}
