<div class="mat-elevation-z8">
  <div class="refresh-container">
    <img
      src="./../../../../assets/svg/refresh.svg"
      alt="refresh-btn"
      class="refresh-svg"
    />
    <button class="refresh-btn" (click)="refresh()">Refrescar filtros</button>
  </div>
  <div class="filters-block">
    <input
      placeholder="Filtra por nombre experto"
      name="nameExpert"
      class="form-control"
      [(ngModel)]="nameExpertOption"
      (keyup)="filterByNameExpert()"
    />

    <mat-form-field appearance="fill">
      <mat-label>Filtra por estado</mat-label>
      <select
        matNativeControl
        required
        [(ngModel)]="stateOption"
        (change)="filterByState()"
      >
        <option *ngFor="let option of state" [value]="option.value">
          {{ option.value }}
        </option>
      </select>
    </mat-form-field>

    <input
      placeholder="Filtra por nombre etiqueta"
      name="nameTag"
      class="form-control"
      [(ngModel)]="nameTagOption"
      (keyup)="filterByNameTag()"
    />

    <mat-form-field appearance="fill">
      <mat-label>Filtra por puntuación</mat-label>
      <select
        matNativeControl
        required
        [(ngModel)]="ratingOption"
        (change)="filterByRating()"
      >
        <option *ngFor="let option of rating" [value]="option.value">
          {{ option.value }}
        </option>
      </select>
    </mat-form-field>
  </div>
  <table
    [dataSource]="blocks"
    mat-table
    class="full-width-table"
    matSort
    aria-label="Elements"
  >
    <!-- Id Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Experto</th>
      <td mat-cell *matCellDef="let row">{{ row.name }} {{ row.surname }}</td>
    </ng-container>

    <!-- Name Column -->

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>

      <td
        mat-cell
        *matCellDef="let row"
        [ngClass]="{
          greenState: row.state === 'validado',
          redState: row.state === 'por validar'
        }"
      >
        {{ row.state }}
      </td>
    </ng-container>

    <ng-container matColumnDef="etiquetas">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Etiquetas</th>
      <td mat-cell *matCellDef="let row">
        <span *ngFor="let item of row.tags">
          {{ item.name }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="valoracion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Valoracion</th>
      <td
        mat-cell
        *matCellDef="let row"
        [ngClass]="{
          'rating-tag rating-tag--strongGreenRating': row.rating == '100',
          'rating-tag rating-tag--mediumGreenRating': row.rating == '75',
          'rating-tag rating-tag--yellowRating': row.rating == '55',
          'rating-tag rating-tag--brownRating': row.rating == '25',
          'rating-tag rating-tag--redRating': row.rating == '15'
        }"
      >
        {{ row.rating }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      routerLink="/expert-detail"
      [state]="{ expert: row }"
    ></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
  >
  </mat-paginator>
</div>
