<mat-sidenav-container class="main-container">
  <mat-sidenav mode="side" opened>
    <span>
      <img class="logo-img" src="./../assets/svg/logo.svg" alt="logo-img"
    /></span>
    <span>
      <img
        class="logo-txt"
        src="./../assets/svg/experts-logo-text.svg"
        alt="logo-txt"
    /></span>
    <div class="menu-items">
      <div class="experts-item">
        <span
          ><img
            src="./../assets/svg/expert-icon.svg"
            alt="experts-logo"
            class="experts-logo"
        /></span>
        <span><p routerLink="experts" class="menu-txt">Expertos</p></span>
      </div>
      <div class="tags-item">
        <span
          ><img
            src="./../assets/svg/tag-icon.svg"
            alt="tags-logo"
            class="tags-logo"
        /></span>
        <span><p routerLink="tags" class="menu-txt">Etiquetas</p></span>
      </div>
    </div>
  </mat-sidenav>
  
<app-toolbar-back [expert_info]="expert_info"></app-toolbar-back>
<mat-card>
  <mat-card-content>
    <div class="remarks-block">
      <div class="remarks-block__item">
        <label for="remarks" class="remarks-label">OBSERVACIONES</label>
        <input
          type="text"
          id="remarks"
          class="remarks-block_input"
          placeholder="escribe algo..."
        />
      </div>
      <div class="remarks-block__item__bottom">
        <div class="remarks-block__item--left">
          <label for="reason" class="remarks-label">MOTIVO DE DESCARTE</label>
          <select id="reason" class="remarks-block_input">
            <option *ngFor="let option of reasons" [value]="option.value">
              {{ option.value }}
            </option>
          </select>
        </div>
        <div class="remarks-block__item--right">
          <label for="reason-detail" class="remarks-label"
            >ESPECIFICA EL MOTIVO</label
          >
          <input
            type="text"
            id="reason-detail"
            class="remarks-block_input"
            placeholder="escribe algo.."
          />
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

</mat-sidenav-container>
