.form-btn {
  height: 49px;
  min-width: 37rem;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 20px;
  background-color: #0ed28c;
  color: white;
  border: none;

  &:hover{
    background-color: lightgray;
    color:#0ed28c;
  }
}

.expert-submit-form{ 
    text-align: center;
    margin-top: 7rem;
    width: 80%;
    margin: 0 auto;
}
.mat-card.mat-card.mat-focus-indicator {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}
input {
  margin-right: 1rem;
}
.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-right: 1rem;
}