<mat-sidenav-container class="main-container">
  <mat-sidenav mode="side" opened>
    <span>
      <img class="logo-img" src="./../assets/svg/logo.svg" alt="logo-img"
    /></span>
    <span>
      <img
        class="logo-txt"
        src="./../assets/svg/experts-logo-text.svg"
        alt="logo-txt"
    /></span>
    <div class="menu-items">
      <div class="experts-item">
        <span
          ><img
            src="./../assets/svg/expert-icon.svg"
            alt="experts-logo"
            class="experts-logo"
        /></span>
        <span><p routerLink="experts" class="menu-txt">Expertos</p></span>
      </div>
      <div class="tags-item">
        <span
          ><img
            src="./../assets/svg/tag-icon.svg"
            alt="tags-logo"
            class="tags-logo"
        /></span>
        <span><p routerLink="/tags" class="menu-txt">Etiquetas</p></span>
      </div>
    </div>
  </mat-sidenav>
  

<app-toolbar-back [expert]="expert"></app-toolbar-back>
<mat-card>
  <mat-card-content>
    <div class="expert-submit-form">
      <h2>Nuevo Experto</h2>
      <form [formGroup]="formGroup" (submit)="submitRegisterForm()">
        <mat-form-field>
          <input
            id="name"
            matInput
            placeholder="NOMBRE:"
            formControlName="name"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            id="surname"
            matInput
            placeholder="APELLIDOS:"
            formControlName="surname"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            id="phone"
            matInput
            placeholder="TELÉFONO:"
            formControlName="phone"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            id="mail"
            matInput
            placeholder="EMAIL:"
            formControlName="mail"
          />
        </mat-form-field>
        <div formArrayName="tags" class="tags-container">
          <div
            class="new-tag-container"
            *ngFor="let tag of tagsArray.controls; let i = index"
            formGroupName="{{ i }}"
          >
            <mat-form-field>
              <input
                list="tags"
                id="tag"
                matInput
                type="string"
                matInput
                placeholder="TAG:"
                formControlName="name"
              />
              <datalist id="tags">
                <option value="Java"></option>
                <option value="Hibernate"></option>
                <option value="Javascript"></option>
                <option value="Git"></option>
                <option value="Mockito"></option>
                <option value="React"></option>
                <option value="Angular"></option>
                <option value="Otros"></option>
              </datalist>
            </mat-form-field>
            <button class="tag-delete-btn" type="button" (click)="removeTag(i)">
              x
            </button>
          </div>
          <button class="tag-btn" type="button" (click)="addTag()">
            Añadir etiquetas
          </button>
        </div>

        <mat-form-field>
          <input
            id="dni"
            type="String"
            matInput
            placeholder="DNI:"
            formControlName="dni"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            id="linkedln"
            type="String"
            matInput
            placeholder="LINKEDLN:"
            formControlName="linkedln"
          />
        </mat-form-field>
        <mat-form-field>
          <select
            id="state"
            matNativeControl
            required
            formControlName="state"
            placeholder="ESTADO:"
          >
            <option *ngFor="let option of state" [value]="option.value">
              {{ option.value }}
            </option>
          </select>
        </mat-form-field>
        <mat-form-field>
          <select
            id="rating"
            matNativeControl
            required
            formControlName="rating"
            placeholder="PUNTUACIÓN:"
          >
            <option *ngFor="let option of rating" [value]="option.value">
              {{ option.value }}
            </option>
          </select>
        </mat-form-field>
        <mat-form-field>
          <select
            id="state"
            matNativeControl
            required
            formControlName="availability"
            placeholder="DISPONIBILIDAD:"
          >
            <option *ngFor="let option of availability" [value]="option.value">
              {{ option.value }}
            </option>
          </select>
        </mat-form-field>

        <button class="form-btn" type="submit">Register New Expert</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>

</mat-sidenav-container>

