.form-btn {
  height: 49px;
  min-width: 37rem;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 20px;
  background-color: #0ed28c;
  color: white;
  border: none;

  &:hover {
    background-color: lightgray;
    color: #0ed28c;
  }
}

input {
  color: gray;
}
form {
  margin-top: 2rem;
}

.expert-submit-form {
  text-align: center;
  margin-top: 7rem;
  width: 80%;
  margin: 0 auto;
}
.mat-card.mat-card.mat-focus-indicator {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}
input,
select {
  margin-right: 1rem;
}
.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-right: 1rem;
}

.tags-container {
  margin: 0 auto;
  width: 83%;
}

.tag-btn {
  align-self: center;
  min-width: 36rem;
  min-height: 2rem;
  border-top: none;
  border-right: none;
  border-left: none;
}

.tag-delete-btn {
  max-height: 2rem;
  min-width: 2rem;
  align-self: center;
  border: none;
  background-color: #0ed28c;
  color: white;
}
