
  
<div class="home-container__block">
  <div class="home-container__block home-container__block--left">
    <div class="home-container__block__top">
      <div class="home-container__block__top__logo">
        <span class="logo-container"
          ><img
            src="./../../../assets/svg/logo_white.svg"
            alt="experts-logo"
            class="logo-img"
        /></span>
        <span class="txt-logo-container"
          ><img
            src="./../../../assets/svg/experts_white.svg"
            alt="experts-txt"
            class="txt-logo"
        /></span>
      </div>
    </div>
    <div class="home-container__block__middle">
      <h2 class="home-container__block__middle__title">
        La Plataforma De Gestión De Expertos
      </h2>
      <h4 class="home-container__block__middle__subtitle">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
        ratione!
      </h4>
      <button class="home-container__block__middle__btn">Ir a la web</button>
    </div>
  </div>
  <div class="home-container__block home-container__block--right">
    <div class="login-form">
      <h2 class="login-form__title">Bienvenido/a</h2>
      <h4 class="login-form__subtitle">Rellene sus datos para registrarse</h4>
      <mat-card>
        <mat-card-content>
          <div class="expert-submit-form">
            <form [formGroup]="registerForm" (submit)="register()">
              <div class="expert-submit-form__block">
                <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email" />
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Nombre" formControlName="name" />
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Apellido" formControlName="surname" />
                </mat-form-field>
                <mat-form-field>
                  <input
                    type="password"
                    matInput
                    placeholder="Contraseña"
                    formControlName="password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  />
                </mat-form-field>
              </div>
              <div class="expert-submit-form__bottom">
                <div class="expert-submit-form__bottom__left">
                  <p class="password-forgot">Has Olvidado la Contraseña?</p>
                  <p class="login-back" routerLink="/home">Volver al Login</p>

                </div>
                <button class="login-btn" type="submit">Registrarme</button>
              </div>
            </form>
          </div>
        </mat-card-content></mat-card
      >
    </div>
  </div>
</div>


