.upper-block {
  display: flex;
  flex-direction: column;

  &__links {
    display: flex;
    justify-content: space-between;
    width: 39%;
    &__btn {
      text-decoration: none;
      color: #0ed28c;
      margin-right: 2rem;
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: #d9ffe1;
        color: #0ed28c;
      }
    }
  }
}
.middle-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  width: 51%;

  &__container {
    display: flex;
    flex-direction: column;
  }
}
.expert-block-card {
  width: 80%;
  margin: 0 auto;
  padding-top: 3rem;
}
.middle-block-container {
  margin-right: 3rem;
}
.contact-block {
  display: flex;
  flex-direction: column;
  width: 60%;

  &-title {
    color: gray;
    margin-bottom: 2rem;
  }

  &__tags {
    width: 40%;
    position: relative;
    left: 4rem;
  }

  &__item {
    display: flex;

    & div span:first-child {
      align-self: center;
    }
    > div {
      display: flex;
      justify-content: space-between;
      width: 75%;
    }
  }
  &__container {
    margin-bottom: 2rem;
  }

  &__img {
    width: 1rem;
    margin-right: 0.5rem;
  }
}

.cv-block {
  display: flex;
  justify-content: space-between;
  width: 83%;
  &__title {
    display: flex;
  }
  &__btn-container {
    display: flex;

    .cv-btn {
      margin-right: 0.5rem;
      min-height: 34px;
      min-width: 83px;
      border-radius: 7px;
      padding: 10px;
      background-color: #d9ffe1;
      color: #0ed28c;
      border: none;

      &:hover {
        background-color: #0ed28c;
        color: #d9ffe1;
      }
    }
  }
}
.bottom-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.img.contact-block__img {
  margin-right: 1rem;
}

button.tag-btn {
  border: none;
  width: 17rem;
  height: 2rem;
  border-radius: 8px;

  &:hover {
    background-color: #0ed28c;
    color: white;
  }
}
.expert-tags {
  background-color: lightgray;
}

.expert-tags__container {
  display: inline-flex;
  margin-top: 1rem;
  margin-right: 0.5rem;
  color: gray;
  &__tag {
    background-color: lightgray;
    min-width: 5rem;
    border-radius: 31px;
    text-align: center;
    padding: 0.5rem;
  }
  &__tag-delete {
    cursor: pointer;
  }
}
.mat-card-subtitle:not(:first-child) {
  margin-top: 1rem;
}
