/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: inter;
    src: url('./assets/fonts/inter/Inter-Regular.ttf') format("opentype");
  }


html, body { height: 100%; 
    background-color: #E5E5E5;
}
body { margin: 0; font-family: inter, "Helvetica Neue", sans-serif; }

* {
    font-family: 'inter';
}

button, link, a {
    cursor: pointer;
}


