form {
  display: flex;
  flex-direction: column;
}
.form-btn {
  height: 49px;
  min-width: 37rem;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 20px;
  background-color: #0ed28c;
  color: white;
  border: none;

  &:hover {
    background-color: lightgray;
    color: #0ed28c;
  }
}

.tag-submit-form {
  text-align: center;
  margin-top: 7rem;
  width: 80%;
  margin: 0 auto;
}
.mat-card.mat-card.mat-focus-indicator {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}
