<mat-sidenav-container class="main-container">
  <mat-sidenav mode="side" opened>
    <span>
      <img class="logo-img" src="./../assets/svg/logo.svg" alt="logo-img"
    /></span>
    <span>
      <img
        class="logo-txt"
        src="./../assets/svg/experts-logo-text.svg"
        alt="logo-txt"
    /></span>
    <div class="menu-items">
      <div class="experts-item">
        <span
          ><img
            src="./../assets/svg/expert-icon.svg"
            alt="experts-logo"
            class="experts-logo"
        /></span>
        <span><p routerLink="experts" class="menu-txt">Expertos</p></span>
      </div>
      <div class="tags-item">
        <span
          ><img
            src="./../assets/svg/tag-icon.svg"
            alt="tags-logo"
            class="tags-logo"
        /></span>
        <span><p routerLink="tags" class="menu-txt">Etiquetas</p></span>
      </div>
    </div>
  </mat-sidenav>
  <app-toolbar-back [tag]="tag"></app-toolbar-back>
<mat-card class="tag-submit-form">
  <form [formGroup]="formGroup" (submit)="submitRegisterForm()">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>
    <button class="form-btn" type="submit">Register New Tag</button>
  </form>
</mat-card>

</mat-sidenav-container>


